<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8"/>
  <title>URL Shortener</title>
  <script src="/webjars/jquery/2.2.1/jquery.min.js"/>
</head>
<body>
    <div>
      <label for="longUrl">URL to shorten : </label>
      <input id="longUrl"/>
    </div>
    <div>
      <label for="shortenerType">Shortener Type : </label>
      <select id="shortenerType">
        <option value="MAP">MAP</option>
        <option value="ARRAY">ARRAY</option>
        <option value="HASH">HASH</option>
      </select>
    </div>
    <div>
      <button id="shortenButton">SHORTEN!</button>
    </div>
    <hr/>
    <div id="shortenedArea">
      <label for="shortUrl">Shortened URL : </label>
      <h3>
        <a id="shortUrl"></a>
      </h3>
    </div>
    <div th:if="${errorMessage != null}" style="color: red">
      <h1><span th:text="${errorMessage}"></span></h1>
    </div>
</body>
<script>
  $(document).ready(function() {
    $("#shortenButton").click(function(){
      const longUrl = $("#longUrl").val();
      const type = $("#shortenerType").val();
      $.ajax({
        'type': 'POST',
        'url': type + '/shorten/',
        'contentType' : 'application/json; charset=utf-8',
        'data': JSON.stringify({ longUrl : longUrl }),
        'dataType': 'text'
      }).done(function(data){
        console.log(data);
        $("#shortUrl").text(data).attr("href", data);
      }).fail(function(request){
        alert("Error Occurred! \n"+ JSON.parse(request.responseText).message);
      });
    })
  });
</script>
</html>